.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    margin:2rem;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin: 16px;
    text-align: center;
    color: #333;
  }

#api{
  font-size:20px;
  padding:4px;
  
}